// Global Header

/*.globalHeader {
    background-color: $bga-blue;
    min-height: 66px;
    border-bottom: 3px solid $site-yellow-tint1;
    padding: 13px 0 10px 0;
}*/
.globalHeaderSub {
    min-height: 98px;
    .bgaReturn {
        min-height: 32px;
        background-color: $navy;
        padding-top: 2px;
    }
}
.serviceHeader {
    background-color: $bga-blue;
    min-height: 76px;
    padding-top: 16px;
}
.mainMenu {
    background-color: $dark-navy;
    min-height: 32px;
}
.crest {
  display: none;
}
.mobcrest {
  height: 44px;
  overflow: visible;
}
#accountWrapper {
  display: none;
}


// Responsive (medium and up)
@media screen and (min-width: 768px) {
    .globalHeader {
        min-height: 100px;
        border-bottom: 4px solid $site-yellow-tint1;
    }
    .crest {
        display: block;
        height: 60px;
    }
    .mobcrest {
        display: none;
    }
    #accountWrapper {
        display: block;
        a {
        padding: 0 0.5rem;
        }
    }
}